---
import BaseLayout from '../../layouts/BaseLayout.astro';
import Prompt from '../../components/Prompt.astro';
import BlogListing from '../../components/BlogListing.astro';
---

<BaseLayout title="Blog">
  <div class="text-sm space-y-0.5">
    <p>
      <Prompt /><span class="text-terminal-bright"> ~ $ cd </span><a
        href="/blog"
        class="text-terminal-blue font-bold hover:text-terminal-green transition-colors"
        >blog</a
      >
    </p>
    <p>
      <Prompt /><span class="text-terminal-bright">
        ~/blog $ eza -lr -s date -t created</span
      >
    </p>
  </div>
  <div class="text-sm mt-2">
    <BlogListing />
  </div>
</BaseLayout>
