---
import BaseLayout from '../../layouts/BaseLayout.astro';
import Prompt from '../../components/Prompt.astro';
import BlogListing from '../../components/BlogListing.astro';
---

<BaseLayout title="Blog">
  <div class="space-y-0.5">
    <p><Prompt cmd="cd" dir={{ href: '/blog', name: 'blog' }} /></p>
    <p><Prompt cwd="~/blog" cmd="eza -lr -s date -t created" /></p>
  </div>
  <div class="mt-2">
    <BlogListing />
  </div>
</BaseLayout>
