---
import BaseLayout from '../layouts/BaseLayout.astro';
import Prompt from '../components/Prompt.astro';
import ContactList from '../components/ContactList.astro';
import { pagesMeta } from '../data/pages';
---

<BaseLayout
  title={pagesMeta.contact.title}
  description={pagesMeta.contact.description}
>
  <p>
    <Prompt cmd="bat -pp" file={{ href: '/contact', name: 'contact.yaml' }} />
  </p>
  <div class="mt-2">
    <ContactList />
  </div>
</BaseLayout>
