---
import BaseLayout from '../layouts/BaseLayout.astro';
import Prompt from '../components/Prompt.astro';
import ContactList from '../components/ContactList.astro';
---

<BaseLayout title="Contact">
  <p>
    <Prompt cmd="glow" file={{ href: '/contact', name: 'contact.yaml' }} />
  </p>
  <div class="mt-2">
    <ContactList />
  </div>
</BaseLayout>
