---
import BaseLayout from '../layouts/BaseLayout.astro';
import Prompt from '../components/Prompt.astro';
import ContactList from '../components/ContactList.astro';
---

<BaseLayout title="Contact">
  <div class="text-sm">
    <p>
      <Prompt cmd="glow" file={{ href: '/contact', name: 'contact.yaml' }} />
    </p>
  </div>
  <div class="text-sm mt-2">
    <ContactList />
  </div>
</BaseLayout>
